html {
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
    color: #70757a;
}
a:hover {
    text-decoration: underline;
}
main {
    transform: translateY(55px);
}
.ai {
    height: 34px;
    width: 34px;
    border: transparent;
    border-radius: 17px;
    transform: translateY(-7.5px);
}
.ai, .grid {
    margin: 17.5px 9px 17.5px 9px;
}
.grid {
    transform: translateY(-3px);
}
#navbar {
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    color: rgba(0,0,0,0.87);
    padding-left: 18px;
    padding-right: 10px;
}
.nav-link {
    margin: 19px 9.5px 19px 9.5px;
}
.footer-link {
    margin: 15px 14px 0 14px;

}
#l {
    float: left;
}
#r {
    float: right;
}
#google-img {
    transform: scale(0.5);
}
footer {
    background-color: #f2f2f2;
    color: #72777b;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 47px;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
}
#sb {
    text-align: center;
    margin: 30px auto;
    width: 585px;
    height: 46px;
    border: solid 1px rgba(222, 225, 229, 1);
    border-radius: 23px;
    background-color: white;
}
#sb:hover {
    box-shadow: 0 0 5px lightgrey;
}
@media (max-width: 600px) {
    #sb {
        width: auto;
    }
}
input {
    border: transparent;
    background-color: transparent;
    height: 100%;
    width: 490px;
    font-size: 16px;
}
button {
    border: transparent;
    border-radius: 3px;
    background-color: #f8f9fa;
    padding: 10px 17px 10px 17px;
    margin: auto 5px auto 5px;
    color: #3c4043;
}
button:hover {
    border: solid 1px lightgrey;
    box-shadow: 0 0 1px lightgrey;
}
#sb, #rb {
    transform: translateY(-52px);
}
.search-icon, .mic-icon {
    transform: translateY(10.5px);
}
.search-icon {
    margin-left: 12px;
}
.mic-icon {
    margin-right: 12px;
}
