html {
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
}

.ai {
    height: 36px;
    width: 36px;
    border: transparent;
    border-radius: 18px;
    transform: translateY(-8px);
}
.ai, .grid {
    margin: 1.3vw 0.8vw 1.3vw 0.8vw;
}
.grid {
    transform: translateY(-3px);
}
#navbar {
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
}
.nav-link{
    margin: 1.3vw 0.8vw 1.3vw 0.8vw;
}
#l {
    float: left;
}
#r {
    float: right;
}