* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: none;
    color: unset;
    -webkit-font-smoothing: antialiased;
}

body, input, button {
    font-size: unset;
    font-family: unset;
}

button {
    cursor: pointer;
}